{% extends 'base.html.twig' %}

{% block title %}Connexion |&nbsp;{{ parent() }}{% endblock %}
{% block navLogin %}active{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}

    <div class="container bodyFormLogin">
        <div class="form-control">
            <div class="d-flex justify-content-center align-items-center flex-wrap">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h1><b>Connexion</b></h1>
                    <input type="email" value="{{ last_username }}" name="email" autocomplete="email" placeholder="Adresse mail" required>
                    <input type="password" name="password" autocomplete="current-password" placeholder="Mot de passe" required>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-primary" type="submit">
                            Connexion
                        </button>
                    </div>

                    <div class="text-center links">
                        <a href="{{ path('app_register') }}">Pas encore inscrit ?</a>
                        &nbsp;|&nbsp;
                        <a href="#">Mot de passe oublié</a>
                    </div>
                        
                </form>
            </div>
        </div>
    </div>

{% endblock %}
