{% extends 'base.html.twig' %}

{% block title %}S'enregistrer |&nbsp;{{ parent() }}{% endblock %}
{% block navLogin %}active{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}


{% block body %}
<main>
    <div class="container bodyForm">
        <div class="form-control">
            <div class="d-flex justify-content-center align-items-center flex-wrap">
                {{ form_start(formRegister) }}
					<h1>
						<b>S'inscrire</b>
					</h1>
                    <p>Pourquoi s'inscrire ? Vous pourrez chatter directement avec notre équipe à l'aide de notre messagerie instantanée !</p>
                    
					{% if not formRegister.vars.valid %}
						<div class="alert alert-danger">
							<ul>
								{% for child in formRegister.children %}
									{% for error in child.vars.errors %}
										<li>{{ error.message }}</li>
									{% endfor %}
								{% endfor %}
							</ul>
						</div>
					{% endif %}

                    <div class="row justify-content-between">
						<div class="col-12">
							{{ form_widget(formRegister.email) }}
						</div>
					</div>

                    <div class="row justify-content-between">
                        <div class="col-12">
							{{ form_widget(formRegister.password) }}
						</div>
                    </div>
                    <br>

					<div class="row justify-content-between">
						<div class="col-12 col-md-6">
							{{ form_label(formRegister.civility) }}
							<div class="radioContact">
								{{ form_widget(formRegister.civility) }}
							</div>
						</div>
					</div>
                    <br>

					<div class="row justify-content-between">
						<div class="col-12 col-md-6">
							{{ form_widget(formRegister.lastname) }}
						</div>
						<div class="col-12 col-md-6">
							{{ form_widget(formRegister.firstname) }}
						</div>

					</div>

					<div class="row justify-content-between">
                        <div class="col-12 col-md-6">
							{{ form_widget(formRegister.society) }}
						</div>
						<div class="col-12 col-md-6">
							{{ form_widget(formRegister.phone) }}
						</div>
					</div>

					<div class="row justify-content-between">
						<div class="col-12 col-md-6">
							{{ form_widget(formRegister.city) }}
						</div>
						<div class="col-12 col-md-6">
							{{ form_widget(formRegister.postal) }}
						</div>
					</div>

					<div class="d-grid gap-2 col-6 mx-auto">
						{{ form_widget(formRegister) }}
						<button class="btn btn-primary">Envoyer</button>
					</div>
					{{ form_end(formRegister) }}
            </div>
        </div>
    </div>
</main>
{% endblock %}
