{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié |&nbsp;{{ parent() }}{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}


{% block body %}

    <div class="container bodyFormLogin">
		<div class="form-control">
			<div class="d-flex justify-content-center align-items-center flex-wrap">
                {{ form_start(requestForm) }}
                <h1><b>Mot de passe oublié</b></h1>
                    <p>
                            Entrer votre adresse mail pour recevoir un lien vous permettant de changer votre mot de passe.
                    </p>
                {% for flash_error in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                    {{ form_widget(requestForm.email) }}
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-primary" >Recevoir un lien</button>
                    </div>
                {{ form_end(requestForm) }}
			</div>
		</div>
	</div>
{% endblock %}
