{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe |&nbsp;{{ parent() }}{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}

	<div class="container bodyFormLogin">
		<div class="form-control col-12 col-md-8">
			<div class="d-flex justify-content-center align-items-center flex-wrap">
				{{ form_start(resetForm) }}
				<h1><b>Changement de votre mot de passe</b></h1>

				{{ form_widget(resetForm.plainPassword) }}

                <div class="d-grid gap-2 col-6 mx-auto">
				    <button class="btn btn-primary">Modifier</button>
				</div>
                {{ form_end(resetForm) }}
			</div>
		</div>
	</div>

{% endblock %}
