{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}
{% block navHome %}active
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}


{% block body %}
	<div class="container">
		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
	</div>
	<div
		class="containerImgNav">
		{# <!-- Image by upklyakon on Freepik -->
				            <img id="imgUnderNav" src="{{ asset('img/img_sous_nav2.jpg') }}" alt="img sous nav">
				            <div class="textImgNav">
				                <p id="imgNavTitle">L'éco-pâturage, pensez-y !</p>
				            </div> #}
		<div id="divUnderNav"></div>
	</div>

	<main class="container">
		<div id="carouselExampleCaptions" class="carousel slide">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="{{ asset('img/carousel/carousel1.jpg') }}" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="{{ asset('img/carousel/carousel2.jpg') }}" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="{{ asset('img/carousel/carousel3.jpg') }}" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="{{ asset('img/carousel/carousel4.jpg') }}" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="{{ asset('img/carousel/carousel5.jpg') }}" class="d-block w-100" alt="...">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

		<div class="homeFirst">
			<h2><b>Notre histoire</b></h2>
			<p>
				Depuis nos débuts en 2013, nous prenons soin de 250 animaux, principalement des moutons, complétés par des chèvres et une petite troupe d'ânes. <br>
				Répartis sur une trentaine de sites totalisant une superficie d'environ trente hectares. <br><br>
				Notre base, basée au Pertre, est un havre de deux hectares et demi équipé de bâtiments dédiés, elle assure un refuge idéal en toutes circonstances pour les animaux en attente de leur prochaine mission.
			</p>
		</div>

		<br><br>

		<article class="homeSecond articleHome row justify-content-between align-items-center">
			<div class="col-12 col-md-6 articleText">
				<h2>Zone géographique</h2>
				<span>
					En matière de déplacement, nous privilégions une zone d'intervention idéalement située dans un rayon de 40 km. Nous proposons des tarifs progressifs, ajustés en fonction de la distance et de la superficie du site. <br>
					Nos clients, qu'ils soient entreprises, collectivités ou particuliers, bénéficient de notre expertise. Pour les nouveaux clients, nous étendons notre rayon d'action jusqu'à 80 km, sur l'axe des clients déjà présents. <br>
					Pour assurer la mobilité de nos protégés, nous disposons d'un camion bétaillère adapté, garantissant leur sécurité et leur bien-être tout au long du trajet.
				</span>
				</div>
			<div class="col-12 col-md-5">
				<div id="map" class="rounded"></div>
			</div>
    	</article>

		<img id="imgCentrale" src="{{asset('img/accueil/imgcentrale.jpg')}}" alt="Image centrale" title="Image centrale" class="rounded">
			

		<div class="homeThird">
			<p>
				<h2><b>Comment ça se passe ?</b></h2><br>
						
				<h6><b>Nos prestations se déroulent en plusieurs étapes :</b></h6>

				<figure class="figure">
					<img src="{{asset('img/accueil/imgArticleAccueil2.jpg')}}" alt="Image article" title="Image article" id="imgArticleAccueil" class="figure-img img-fluid rounded">
					{# <figcaption class="figure-caption"><i>Description de l'image de l'article</i></figcaption> #}
				</figure>
				
				Tout d'abord nous avons la prise de contact initiale, qui est suivi d'une visite systématique du site pour une étude approfondie. 
				<br>
				Après évaluation de la faisabilité du projet, et la vérification des conditions d'accueil pour nos animaux, si tout est validé, nous assurons le transport des animaux vers leur nouveau chez-eux.
				<br><br>		
				Nous assurons ensuite des visites régulières, adaptées à chaque site, garantissant approvisionnement en eau et en alimentation, et veillant au bien-être de nos protégés. En fonction de la superficie du site et de l'évolution de la végétation, le nombre d'animaux peut être ajusté.
				<br><br>		
				Lorsque le projet est accompli, nous rapatrions nos protégés vers un nouveau site ou à la maison, tout en prenant soin de retirer les clôtures et autres installations installées au préalable.
				<br><br>		
				Nous sommes fiers de partager notre passion pour l'élevage responsable avec vous. N'hésitez pas à nous contacter pour discuter de votre projet. Chez nous, chaque animal compte, et chaque projet est une nouvelle aventure.
			</p>
		</div>

			<h2 style="text-align:center;color:#8EBC40"><b>Ils nous font confiance !</b></h2>
		<div class="clientsActuel col-12 d-flex flex-row align-items-center">
			{% for client in listeClients %}
				<div class="clientContainer d-flex flex-column justify-content-center align-items-center">
					<a href="{{ client.url }}"><img src="{{ asset('img/logos/') }}{{ client.image }}" alt="Logo {{ client.name }}" title="Lien vers le site"></a>
					<h6><b>{{ client.name }}</b></h6>

					
					{% if is_granted('ROLE_ADMIN') %}
						<a href="javascript:void(0)" onclick="if(confirm('Voulez-vous vraiment supprimer le client de la frise ?')){window.location='{{ path('app_delete_client', {'id': client.id}) }}';}" id="supprClient">Supprimer</a>
					{% endif %}
				</div>
			{% endfor %}

			
			

			{% if is_granted('ROLE_ADMIN') %}
				<img id="ajoutClient" src="{{ asset('img/logos/ajout.png') }}" alt="Ajouter un client" title="Ajouter un client" data-bs-toggle="modal" data-bs-target="#exampleModal">
			{% endif %}

			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="modalAjoutClient" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="modalAjoutClient">Ajouter un client</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{ form_start(formClients) }}
						<div class="formAjoutClient">
							{{ form_widget(formClients.name) }}
							{{ form_label(formClients.image) }}
							{{ form_widget(formClients.image) }}
							{{ form_widget(formClients.url) }}
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-primary" id="btnFermerModal" data-bs-dismiss="modal">Fermer</button>
						{{ form_widget(formClients) }}
					<button type="submit" class="btn btn-primary" id="btnAjoutClient" >Ajouter</button>
					{{ form_end(formClients) }}
				</div>
				</div>
			</div>
			</div>

		</div>
	</main>
{% endblock %}
