{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block navHome %}active{% endblock %}

{% block body %}
        {% for message in app.flashes('danger') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}
<div class="containerImgNav">
    <!-- Image by upklyakon on Freepik -->
    <img id="imgUnderNav" src="{{ asset('img/img_sous_nav2.jpg') }}" alt="img sous nav">
    <div class="textImgNav">
        <p id="imgNavTitle">L'éco-pâturage, pensez-y !</p>
    </div>
</div>

<main class="container">
    <article class="articleHome row justify-content-between align-items-center">
        <div class="col-12 col-md-6">
            <img src="{{ asset('img/img_article.jpg') }}" alt="img article" title="img article">
        </div>
        <div class="col-12 col-md-6">
            <h2>C'est quoi l'éco-pâturage ?</h2>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem suscipit aperiam dicta mollitia, perferendis adipisci magnam, recusandae veritatis libero aliquid explicabo reprehenderit, ipsam facere enim doloribus voluptatem quidem hic. Harum!
            Quos perferendis possimus nemo dolore cum magni molestiae itaque alias consequuntur placeat aperiam voluptatum iste, perspiciatis eius! Atque, modi. Necessitatibus debitis nobis odio accusantium! Architecto molestias officia suscipit consequuntur facilis.
        </div>
    </article>
    <br><br>
    <article class="articleHome row justify-content-between align-items-center" style="text-align:right">
        <div class="col-12 col-md-6">
            <h2>Pourquoi faire de l'éco-pâturage ?</h2>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem suscipit aperiam dicta mollitia, perferendis adipisci magnam, recusandae veritatis libero aliquid explicabo reprehenderit, ipsam facere enim doloribus voluptatem quidem hic. Harum!
            Quos perferendis possimus nemo dolore cum magni molestiae itaque alias consequuntur placeat aperiam voluptatum iste, perspiciatis eius! Atque, modi. Necessitatibus debitis nobis odio accusantium! Architecto molestias officia suscipit consequuntur facilis.
        </div>
        <div class="col-12 col-md-6">
            <img src="{{ asset('img/img_article.jpg') }}" alt="img article" title="img article">
        </div>
    </article>    
    <br><br>
    <article class="articleHome row justify-content-between align-items-center">
        <div class="col-12 col-md-6">
            <img src="{{ asset('img/img_article.jpg') }}" alt="img article" title="img article">
        </div>
        <div class="col-12 col-md-6">
            <h2>Découvrez nos prestations</h2>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem suscipit aperiam dicta mollitia, perferendis adipisci magnam, recusandae veritatis libero aliquid explicabo reprehenderit, ipsam facere enim doloribus voluptatem quidem hic. Harum!
            Quos perferendis possimus nemo dolore cum magni molestiae itaque alias consequuntur placeat aperiam voluptatum iste, perspiciatis eius! Atque, modi. Necessitatibus debitis nobis odio accusantium! Architecto molestias officia suscipit consequuntur facilis.
        </div>
    </article>
    <br><br><br><br><br><br><br><br><br><br><br>
</main>
{% endblock %}
