{% extends 'base.html.twig' %}

{% block title %}Changer mon mot de passe |&nbsp;{{ parent() }}{% endblock %}
{% block navInfos %}active{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
    <main>
    <div class="container bodyForm">
        <div class="form-control col-12 col-md-8">
            <div class="d-flex justify-content-center align-items-center flex-wrap">
                {{ form_start(changePasswordForm) }}
					<h1>
						<b>Modifier mon mot de passe</b>
					</h1>
                    <p>Modifier votre mot de passe, ou revenez en arrière.</p>

					{% if not changePasswordForm.vars.valid %}
						<div class="alert alert-danger">
							{% for children in changePasswordForm.children %}
        						{% if not children.vars.valid %}
            						{{ form_errors(children) }}
        						{% endif %}
								{% for child in children %}
									{% if not child.vars.valid %}
										{{ form_errors(child) }}
									{% endif %}
								{% endfor %}
   							{% endfor %}
						</div>
					{% endif %}

					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}
					{% for message in app.flashes('danger') %}
						<div class="alert alert-danger">
							{{ message }}
						</div>
					{% endfor %}
					
                    <div class="row justify-content-between">
						<div class="col-12">
							{{ form_widget(changePasswordForm.plainPassword.first) }}
						</div>
					</div>

                    <div class="row justify-content-between">
						<div class="col-12">
							{{ form_widget(changePasswordForm.plainPassword.second) }}
						</div>
					</div>
					
					<div class="row justify-content-between">
						<div class="d-grid col-12 col-md-6 mx-auto">
                            <a href="{{ path('app_infos') }}" class="btn btn-outline-primary">Retour</a>
						</div>
						<div class="d-grid col-12 col-md-6 mx-auto">
							{{ form_widget(changePasswordForm) }}
							<button class="btn btn-primary">Valider</button>
						</div>
					</div>
						{{ form_end(changePasswordForm) }}

					
            </div>
        </div>
    </div>
</main>
{% endblock %}
