{% extends 'base.html.twig' %}

{% block title %}Mes informations |&nbsp;{{ parent() }}{% endblock %}
{% block navInfos %}active{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
    <main>
    <div class="container bodyForm">
        <div class="form-control">
            <div class="d-flex justify-content-center align-items-center flex-wrap">
                {{ form_start(formInfos) }}
					<h1>
						<b>Modifier mes informations</b>
					</h1>
                    <p>Modifier vos informations, ou supprimer votre compte facilement.</p>

					{% if not formInfos.vars.valid %}
						<div class="alert alert-danger">
							<ul>
								{% for child in formInfos.children %}
									{% for error in child.vars.errors %}
										<li>{{ error.message }}</li>
									{% endfor %}
								{% endfor %}
							</ul>
						</div>
					{% endif %}
					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}
					{% for message in app.flashes('danger') %}
						<div class="alert alert-danger">
							{{ message }}
						</div>
					{% endfor %}
					
                    <div class="row justify-content-between">
						<div class="col-12">
							{{ form_widget(formInfos.email) }}
						</div>
					</div>
                    <br>

					<div class="row justify-content-between">
						<div class="col-12 col-md-6">
							{{ form_label(formInfos.civility) }}
							<div class="radioContact">
								{{ form_widget(formInfos.civility) }}
							</div>
						</div>
					</div>
                    <br>

					<div class="row justify-content-between">
						<div class="col-12 col-md-6">
							{{ form_widget(formInfos.lastname) }}
						</div>
						<div class="col-12 col-md-6">
							{{ form_widget(formInfos.firstname) }}
						</div>

					</div>

					<div class="row justify-content-between">
                        <div class="col-12 col-md-6">
							{{ form_widget(formInfos.society) }}
						</div>
						<div class="col-12 col-md-6">
							{{ form_widget(formInfos.phone) }}
						</div>
					</div>

					<div class="row justify-content-between">
						<div class="col-12 col-md-6">
							{{ form_widget(formInfos.city) }}
						</div>
						<div class="col-12 col-md-6">
							{{ form_widget(formInfos.postal) }}
						</div>
					</div>

					
					<div class="row justify-content-between">
						<div class="d-grid col-12 col-md-4 mx-auto">
							<a href="{{ path('change_password') }}" class="btn btn-outline-primary">Modifier mon mot de passe</a>
						</div>
						<div class="d-grid col-12 col-md-4 mx-auto">
							{{ form_widget(formInfos) }}
							<button class="btn btn-primary">Valider</button>
						</div>
						<div class="d-grid col-12 col-md-4 mx-auto">
							<a href="javascript:void(0)" onclick="if(confirm('Voulez-vous vraiment supprimer votre compte ?')){window.location='{{ path('delete_account', {'id': app.user.id}) }}';}" class="btn btn-outline-danger">Supprimer mon compte</a>
						</div>
					</div>
						{{ form_end(formInfos) }}

					
            </div>
        </div>
    </div>
</main>
{% endblock %}
