{% extends 'base.html.twig' %}

{% block title %}Contact |&nbsp; {{ parent() }}{% endblock %}
{% block navContact %}active{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}


{% block body %}
<div class="container bodyContact">
    <div class="form-control">
        <div class="formContact">

            {{ form_start(formContact) }}
            {{ form_errors(formContact) }}

            <div class="rowContact">
                <div class="contactElement">
                    {{ form_label(formContact.civility) }}
                    <div class="radioContact">
                        {{ form_widget(formContact.civility) }}
                    </div>
                </div>
            </div>

            <div class="rowContact">
                {{ form_row(formContact.lastname) }}
                {{ form_row(formContact.firstname) }}
                {{ form_row(formContact.society) }}
            </div>

            <div class="rowContact">
                {{ form_row(formContact.email) }}
                {{ form_row(formContact.phone) }}
                <div><input type="text" style="appearance: none; border: none;" disabled></div>
            </div>

            <div class="rowContact">
                {{ form_row(formContact.address) }}
                {{ form_row(formContact.city) }}
                {{ form_row(formContact.postal) }}
            </div>

            <div class="rowContact">
                {{ form_row(formContact.message) }}
            </div>



            {{ form_widget(formContact) }}
            <button>Envoyer</button>
            {{ form_end(formContact) }}
        </div>
    </div>
</div>
{% endblock %}
