{% extends 'base.html.twig' %}

{% block title %}Contact |&nbsp;{{ parent() }}
{% endblock %}
{% block navContact %}active{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}


{% block body %}
	<main>
		<div class="container bodyForm">
			<div class="form-control col-12 col-md-8">
				<div class="d-flex justify-content-center align-items-center flex-wrap">

					{{ form_start(formContact) }}
					<h1>
						<b>Contactez-nous !</b>
					</h1>
					<p>Remplissez ce formulaire et nous reviendrons vers vous dès que possible !</p>
						{% for message in app.flashes('success') %}
							<div class="alert alert-success">
								{{ message }}
							</div>
						{% endfor %}
						{% if not formContact.vars.valid %}
							<div class="alert alert-danger">
								<ul>
									{% for child in formContact.children %}
										{% for error in child.vars.errors %}
											<li>{{ error.message }}</li>
										{% endfor %}
									{% endfor %}
								</ul>
							</div>
						{% endif %}

					<div class="row justify-content-between">
						<div class="col-12 col-md-6">
							{{ form_label(formContact.civility) }}
							<div class="radioContact">
								{{ form_widget(formContact.civility) }}
							</div>
						</div>
						<div class="col-12 col-md-6">
							{{ form_widget(formContact.society) }}
						</div>
					</div>

					<div class="row justify-content-between">
						<div class="col-12 col-md-6">
							{{ form_widget(formContact.lastname) }}
						</div>
						<div class="col-12 col-md-6">
							{{ form_widget(formContact.firstname) }}
						</div>

					</div>

					<div class="row justify-content-between">
						<div class="col-12 col-md-6">
							{{ form_widget(formContact.email) }}
						</div>
						<div class="col-12 col-md-6">
							{{ form_widget(formContact.phone) }}
						</div>
					</div>

					<div
						class="row justify-content-between">
						{# <div class="col-8 col-md-4">
						                            {{ form_widget(formContact.address) }}
						                        </div>             #}
						<div class="col-12 col-md-6">
							{{ form_widget(formContact.city) }}
						</div>
						<div class="col-12 col-md-6">
							{{ form_widget(formContact.postal) }}
						</div>
					</div>

					<div class="row">
						<div class="col-12">
							{{ form_widget(formContact.message) }}
						</div>
					</div>


					<div class="d-grid gap-2 col-6 mx-auto">
						{{ form_widget(formContact) }}
						<button class="btn btn-primary">Envoyer</button>
					</div>
					{{ form_end(formContact) }}
				</div>
			</div>
		</div>
	</main>
{% endblock %}
