{% extends 'base.html.twig' %}

{% block title %}Contact |&nbsp; {{ parent() }}{% endblock %}
{% block navContact %}active{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}


{% block body %}
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="container containerTitle">
            <div class="contactTitle">
                <h1><b>Contact</b></h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti in dolorem exercitationem minus molestiae assumenda eveniet mollitia quia accusantium doloribus maiores amet excepturi eos nobis distinctio, molestias impedit. Numquam, ratione?</p>
            </div>
        </div>
<div class="container bodyContact">
    <div class="form-control">
        <div class="d-flex justify-content-center align-items-center flex-wrap">

            {{ form_start(formContact) }}
            {{ form_errors(formContact) }}

            <div class="row justify-content-between">
                <div class="col-8 col-md-5">
                    {{ form_label(formContact.civility) }}
                    <div class="radioContact">
                        {{ form_widget(formContact.civility) }}
                    </div>
                </div>
                <div class="col-8 col-md-5">
                    {{ form_widget(formContact.society) }}
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="col-8 col-md-5">
                    {{ form_widget(formContact.lastname) }}
                </div>
                <div class="col-8 col-md-5">
                    {{ form_widget(formContact.firstname) }}
                </div>
                
            </div>

            <div class="row justify-content-between">
                <div class="col-8 col-md-5">
                    {{ form_widget(formContact.email) }}
                </div>
                <div class="col-8 col-md-5">
                    {{ form_widget(formContact.phone) }}
                </div>
            </div>

            <div class="row justify-content-between">
                {# <div class="col-8 col-md-4">
                    {{ form_widget(formContact.address) }}
                </div>             #}
                <div class="col-8 col-md-5">
                    {{ form_widget(formContact.city) }}
                </div>            
                <div class="col-8 col-md-5">
                    {{ form_widget(formContact.postal) }}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {{ form_widget(formContact.message) }}
                </div>
            </div>



            {{ form_widget(formContact) }}
            <button>Envoyer</button>
            {{ form_end(formContact) }}
        </div>
    </div>
</div>
{% endblock %}
