<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}J'ai un bouc et y'm'sert
			{% endblock %}
		</title>

		<!-- Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

		<!-- Font -->
		<link href="https://fonts.cdnfonts.com/css/source-sans-pro?styles=14484,14489,14486,14490,14491,14485,14483,14482,14488,14487,14493,14492" rel="stylesheet">
		
		<!-- CSS/JS -->
		<link rel="stylesheet" href="{{ asset('css/style.css') }}"> 
		{% block stylesheets %}{% endblock %}
		{% block javascripts %}{% endblock %}
		</head>

		<body>
		<div class="content">
				<header>
					<nav class="nav container">
						<div class="logoContainer col-12 col-md-4">
							<a href="{{ path('main_home') }}">
								<img class="imgLogo" src="{{ asset('img/logo_v2.png') }}" alt="Revenir à l'accueil">
							</a>
						</div>

						{# <div class="titreTemp">
							<a href="{{ path('main_home') }}">J'ai un bouc et y'm'sert</a>
						</div> #}

						<div class="navContainer col-12 col-md-8">
							<a class="navHome" id="{% block navHome %}{% endblock %}" href="{{ path('main_home') }}" style="">Accueil</a>
							<a class="navServices" id="{% block navServices %}{% endblock %}" href="#">Prestations</a>
							<a class="navAbout" id="{% block navAbout %}{% endblock %}" href="#">A propos</a>
							<a class="navContact" id="{% block navContact %}{% endblock %}" href="{{ path('app_contact') }}">Contact</a>
							{% if not app.user %}
								<a class="navLogin" id="{% block navLogin %}{% endblock %}" href="{{ path('app_login') }}">Connexion / Inscription</a>
								{% else %}
									<a href="" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> <img class="round-img" src="{{ asset('img/') }}{{ app.user.ProfilImage }}" alt=""> {{ app.user.email }}</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item {% block navInfos %}{% endblock %}" href="{{ path('app_infos') }}">Mes informations</a></li>
										{% if is_granted('ROLE_ADMIN') %}
											<li><a class="dropdown-item {% block navAdminMessagerie %}{% endblock %}" href="{{ path('admin_messages') }}">Messagerie</a></li>
											{% else %}
												<li><a class="dropdown-item {% block navMessagerie %}{% endblock %}" href="{{ path('app_messages') }}">Messagerie</a></li>
										{% endif %}
										<li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
									</ul>
							{% endif %}
						</div>
					</nav>

				</header>
			
				{% block body %}{% endblock %}
		</div>
			<footer>
			<div class="container">
					<br>
					<div class="footerMain row justify-content-between align-items-center">
						<div class="col-3">
							<b>J'ai un bouc et y'm'sert (logo?)</b><br>
							La baffonderie<br>
							35370 LE PERTRE<br>
							Tel: 06 72 24 86 99<br>
							boucetymsert@orange.fr
						</div>

						<div class="col-3">
							Copyright&copy; J'ai un bouc et y'm'sert
						</div>

						<div class="col-3">
							<a href="#">Contact</a>
						</div>
					</div>
			</div>
			</footer>
		</body>
	</html>
