{% extends 'base.html.twig' %}

{% block title %}Messagerie administrateur |&nbsp;{{ parent() }}
{% endblock %}
{% block navAdminMessagerie %}active
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/messages.css') }}">
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/messages.js') }}" defer></script>
{% endblock %}

{% block body %}
	<main>
		<div class="container bodyMessages col-12 col-md-10">
			<div class="form-control col-12 col-md-8">
				<h1>
					<b>Messagerie</b>
				</h1>
				<div class="col containerMessages d-flex flex-row flex-wrap">
					<div class="leftMessagerie col-12 col-md-3">
						<div class="userListMessages">
							<ul>
								{% for conversation in listConversation %}
									{% if conversation.lastmessagedate != null %}
										<li>
											<a href="{{ path('admin_messages', {'conversation_id': conversation.id }) }}">
												<span>
													<b>
														{{ conversation.user.civility }} 
														{{ conversation.user.lastname }} 
														{{ conversation.user.firstname }}
													</b>

												</span>
												<span>
													{% if conversation.user.society != null %}
														{{ conversation.user.society }}
														<br>
													{% endif %}
													
													{% if conversation.user.phone is not null %}
														Tel: 
														{{ conversation.user.phone }}
														<br>
													{% endif %}
													
													Ville: 
														 {{ conversation.user.postal }}

													{% if conversation.user.city is not null %}
														 {{ conversation.user.city }}
														 {% else %}
															—
													{% endif %}
												
												</span>
												<hr>
												<span class="previewMessageContent">
													<i>
														{% for message in conversation.messages %}
															{% if loop.last %}
																{{ message.content }}
															{% endif %}
														{% endfor %}
													</i>
												</span>
												<span class="previewMessageDate">
													{% for message in conversation.messages %}
														{% if loop.last %}
															{{ message.createdat|date(" d/m/y à H:i:s") }}
														{% endif %}
													{% endfor %}
												</span>
											</a>
										</li>
									{% endif %}


								{% endfor %}
							</ul>
						</div>
					</div>

					<div class="rightMessagerie col-12 col-md-9">
						<div class="row topMessagesAdmin" id="divMessages">
							<div class="col-12 col-md-12">
								<div class="topMessagesContent">
									{% if selectedConversation is null %}
										Veuillez sélectionner une conversation a afficher

									{% else %}
										<ul class="messageList">


											{% for message in selectedConversation.messages %}
												{% if loop.first %}
													{% set previousDate = message.createdat %}
													<div class="date">
														<span>
															{{ message.createdat|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}
														</span>
													</div>
												{% endif %}

												{% if previousDate|date("d") is not same as(message.createdat|date("d")) %}
													<div class="date">
														<span>
															{{ message.createdat|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}
														</span>
													</div>
												{% endif %}

												<li class="
																											{% if message.author == app.user %}
																											rightMessage
																												{% else %}
																												leftMessage
																											{% endif %}
																										">
													<p>{{ message.content }}</p>
													<span title="Envoyé le {{ message.createdat|date("d/m/y à h:i:s")}}">{{ message.createdat|date("H:i:s")}}</span>
												</li>
												{% set previousDate = message.createdat %}
											{% endfor %}
										</ul>
									{% endif %}

								</div>
							</div>
						</div>

						{% if selectedConversation is not null %}
							{{ form_start(formMessage) }}
							<div class="row botMessages">
								<div class="col-12 col-md-10">
									{{ form_widget(formMessage.content) }}
								</div>
								<div class="col-12 col-md-2">
									{{ form_widget(formMessage) }}
									<button class="btn btn-primary">Envoyer</button>
								</div>
							</div>
							{{ form_end(formMessage) }}
						{% endif %}
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
</main>{% endblock %}
