{% extends 'base.html.twig' %}

{% block title %}Messagerie |&nbsp;{{ parent() }}
{% endblock %}
{% block navMessagerie %}active{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/messages.css') }}">

{% endblock %}

{% block body %}
<main>
	<div class="container bodyFormLogin">
		<div class="form-control">
				<h1><b>Messagerie</b></h1>
			<div class="col containerMessages d-flex flex-column">
				<div class="row topMessages">
					<div class="col-12 col-md-12">
						Messages
					</div>
				</div>

					{{ form_start(formMessage) }}
				<div class="row botMessages">
					<div class="col-10 col-md-10">
						{{ form_widget(formMessage.content) }}
					</div>
					<div class="col-2 col-md-2">
						{{ form_widget(formMessage) }}
						<button class="btn btn-primary">Envoyer</button>
					</div>
				</div>
					{{ form_end(formMessage) }}
			</div>	
		</div>
	</div>
</main>
{% endblock %}
